body {
	background-color: #0D0D0D;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#main-container {
	position: relative;
	/*width: 85%;*/
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #141414;
	box-shadow: 0 0 50px #000000;
}

#top-header {
	/*width: 90%;*/
	height: 50px;
	margin: 0 auto;
	display: block;
}

#top-header > div {
	display: inline-block;
	vertical-align: bottom;
}

#logo {
	padding: 0 5px;
	/*float: left;*/
	color: #F2F2F2;
	font-size: 40px;
	text-shadow: 0 0 3px #F2F2F2;
	text-decoration: underline;
}

#top-link-container {
	/*float: right;*/
	padding: 10px;	
}

#top-link-container > a {
	text-decoration: none;
	color: #F2F2F2;
	font-size: 14px;
	text-shadow: 0 0 1px #F2F2F2;
	background-color: #1F1F1F;
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 1px 1px 1px #000000;
    margin: 5px;
}

#top-link-container > a:hover {
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFFFFF;
}

#demo-showcase {
	/*width: 85%;*/
	margin: 0 auto;
	display: table;
	padding: 5px;
    top: 0;
    left: 50%;
    transform: translateX(0%);
    z-index: 100;
}

#instructions {
	width: 300px;
	color: #F2F2F2;
	font-size: 14px;
	text-shadow: 0 0 1px #F2F2F2;
	display: table-cell;
	vertical-align: top;
}

#instructions-title {
	padding; 5px;
	color: #F2F2F2;
	font-size: 25px;
	text-shadow: 0 0 2px #F2F2F2;
	text-decoration: underline;
}

#demo-container {
	margin: 0 auto;
	display: table-cell;
}

#demo {
	margin: 0 auto;
	border: 4px solid #F2F2F2;
	box-shadow: 0 0 3px #F2F2F2;
}

#about-container {
	padding: 5px;
	width: 85%;
	margin: 0 auto;
	display: block;
}

#about {
	padding; 5px;
	color: #F2F2F2;
	font-size: 25px;
	text-shadow: 0 0 2px #F2F2F2;
	text-decoration: underline;
}

#about-text {
	color: #F2F2F2;
	font-size: 14px;
	text-shadow: 0 0 1px #F2F2F2;
	line-height: 250%;
}

#about-text > a {
	padding: 5px;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 14px;
	text-shadow: 0 0 1px #F2F2F2;
	background-color: #1F1F1F;
	border-radius: 3px 3px 3px 3px;	
	box-shadow: 1px 1px 1px #000000;
}

#about-text > a:hover {
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFFFFF;
}

#footer {
	padding: 15px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	color: #F2F2F2;
	text-shadow: 0 0 1px #F2F2F2;
}

hr {
	border: 0;
	width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #2196F3;*/
    background-color: #04AA6D;
}

input:focus + .slider {
  /*background-color: #2196F3;*/
    background-color: #04AA6D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#exit {
    color: #FFFFFF;
    text-shadow: 0 0 3px #F2F2F2;
    background-color: #04AA6D;
    border-radius: 20px;
    padding: 10px;
    border-color: transparent;
    z-index: 500;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#share {
    color: #FFFFFF;
    text-shadow: 0 0 3px #F2F2F2;
    background-color: #04AA6D;
    border-radius: 20px;
    padding: 10px;
    border-color: transparent;
    z-index: 500;
    top: 0;
    left: 0;
    cursor: pointer;
}
